<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Create new post</h2>

<!--  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">-->
<!--    {{error}}-->
<!--  </div>-->

  <div class="form-control" [class.invalid]="form.get('title').invalid && form.get('title').touched">
    <label for="title">Title</label>
    <input type="text" id="title" formControlName="title">
    <div class="validation" *ngIf="form.get('title').invalid && form.get('title').touched">
      <small *ngIf="form.get('title').errors.required">Must not to be empty!</small>
    </div>
  </div>

  <div class="form-control">
    <label>Content</label>
    <quill-editor formControlName="content"></quill-editor>
  </div>

  <div class="form-control" [class.invalid]="form.get('author').invalid && form.get('author').touched">
    <label for="author">Author</label>
    <input type="text" id="author" formControlName="author">
    <div class="validation" *ngIf="form.get('author').invalid && form.get('author').touched">
      <small *ngIf="form.get('author').errors.required">Must not to be empty!</small>
    </div>
  </div>

  <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid || isDisabledButton">Create post</button>
</form>
